.eight-page{
    background-color: var(--white-color);
    margin-top: var(--m-4);
    

    &__main{
        text-align: center;  
        padding: 2rem 0;

      &-text{
        width: 40%;
        margin: var(--m-2) auto;
      }  

      &_form-input{
        margin-top: var(--m-2);
        width: 25%;
        margin-right: var(--m-2);
        padding: 0.3rem 0.7rem;
        border-radius: 1rem;
      }

      &_form-submit{
        padding: 0.3rem 0.7rem;
        border-radius: 1rem;
        color: var(--white-color);
        background-color: var(--button-color);
        border: none;
        outline: none;

        &:hover{
            transform: scale(0.9);
        }
      }
    }
}

